
// we need a manifest if we want visual styles; put in numbers since somethings a bit screwy
// with my SDK install (I don't think I've got *.rh right)

#include "components/componentimages.h"

1 24 "ldmicro.exe.manifest"

4000                       ICON        "ldmicro.ico"
RELAY_NC                   PNG         "img\\relay_nc.png"
RELAY_NO				   PNG         "img\\relay_no.png"
SWITCH_CONNECTED           PNG         "img\\switch_connected.png"
SWITCH_DISCONNECTED        PNG         "img\\switch_disconnected.png"
SPDT_switch_connected_1    PNG         "img\\spdt_switch_1.png"
SPDT_switch_connected_2    PNG         "img\\spdt_switch_2.png"
DPST_switch_connected_1    PNG         "img\\dpst_switch_1.png"
DPST_switch_disconnected_1 PNG         "img\\dpst_switch_2.png"
DPDT_switch_connected_1    PNG         "img\\dpdt_switch_1.png"
DPDT_switch_connected_2    PNG         "img\\dpdt_switch_2.png"